.bod {
  border: 3px solid black;
  border-radius: 15px;
  text-align: center;
  margin-left: 90px;
  background-color: rgb(10, 73, 199);
  width: 80%;
  height: 120px;
  display: flexbox;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}
.heading {
  float: left;
  padding-top: 10px;
  padding-left: 0%;
  color: white;
}
.Rating {
  float: right;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  /* margin-top: 50px; */
  margin-right: 50px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border: 3px solid black;
  border-radius: 7px;
  background-color: yellowgreen;
  width: 80px;
}
.Phone_no {
  width: 250px;
  float: left;
  border: 3px solid black;
  border-radius: 7px;
  margin-left: 65px;
  margin-top: 5px;
  background-color: violet;
}
.Org_name {
  width: 30%;
  float: right;
  margin-top: 0%;
  padding-top: -20px;
  border: 3px solid black;
  border-radius: 7px;
  margin-right: 15px;
  background-color: salmon;
}
.date {
  background-color: turquoise;
  float: left;
  /* margin-top: 40px; */
  border: 3px solid black;
  border-radius: 7px;
  margin-left: 66px;
  padding-left: 0%;
  width: 250px;
  margin-right: 70%;
}
