.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}
.button1 {
  background-color: #4caf50;
}
.button2 {
  background-color: #008cba;
}
h1 {
  color: 'green';
}
/* .land_body {
  margin-top: 50px;
} */
#body {
  padding-top: 105px;
}
nav {
  position: fixed;
}
